body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #956CA4;
    color: white;
    padding: 10px 20px;
}

.logo {
    width: 180px;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#about{
    color: #FF9F00
}

.cart img {
    width: 24px;
    height: 24px;
}

main {
    padding: 20px;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    margin-right: 20px;
}

.image-rectangle {
    width: 200px;
    height: 300px;
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-rectangle img {
    max-width: 100%;
    max-height: 100%;
}

.text-content {
    max-width: 600px;
}

footer {
    background: linear-gradient(to right, #775792, #552C60);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    flex: 1;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section p {
    display: flex;
    align-items: center;
}

.footer-section p img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.footer-section h3 {
    margin-top: 0;
    color: #FF9F00;
}
