/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #5d3b66;
  --primary-color-shadow: #62456d;
  --secondary-color: #fbc658;
  --secondary-color-light: #f5d9a2;
  --secondary-color-shadow: #e2b250;
  --background-color: #d9c9df;
  --tertiary-color: #fafafa;
  --font-1: "Poppins", sans-serif;
  --font-2: "Playfair Display", serif;
  --font-3: "swiper-icons", serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--tertiary-color); 
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px; 
  border: 3px solid var(--tertiary-color); 
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background: var(--primary-color);
  justify-content: center;
  align-items: center;
}

#petalgram-logo {
    height: 60px;
    width: 180px;
}

#about{
  color: #e2b250;
}

.navbar ul li {
  padding: 0px 25px;
}

.navbar ul li a {
  color: var(--tertiary-color);
  font-size: 0.9rem;
  font-family: var(--font-1);
  transition: color 200ms ease-in-out;
}

.navbar ul li a:hover {
  color: var(--secondary-color);
}

.navbar ul li i {
  color: var(--secondary-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

.navbar ul li i:hover {
  color: var(--secondary-color-light);
}

#cartText,
#userText {
  display: none;
}

/* changes toggler icon color */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(251, 198, 88, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

/* hero section */

.hero {
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
  height: 450px;
  background-color: #1a1a1a;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("https://i.ibb.co/4tLVJGx/5868881-1.jpg") no-repeat;
  background-position: center;
  opacity: 0.6;
  background-size: cover;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  z-index: -1;
}

.hero h1 {
  font-family: var(--font-2);
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.hero p {
  font-size: 0.9rem;
  margin-bottom: 20px;
  font-family: var(--font-1);
  color: var(--tertiary-color);
}
.hero img {
  max-width: 100%;
  height: auto;
}
.hero .btn:hover {
  background-color: #6200ea;
}
.hero .content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.hero .text-content {
  flex: 1;
  padding: 20px;
}
.hero .image-content {
  flex: 1;
  padding: 20px;
}

.hero .btn-lg {
  background: var(--secondary-color-shadow);
  padding: 5px 25px;
  color: var(--primary-color);
  border-radius: 10px;
  font-family: var(--font-1);
  font-size: 0.9rem;
  transition: background-color 200ms ease-in-out;
}

.hero .btn-lg:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

/* main */
.mission-section {
  margin: 80px auto;
  padding: 10px 0;
  font-family: var(--font-1);
  border-radius: 8px;
  width: 90%;
  height: fit-content;
}

.mission-content {
  color: white;
  padding: 30px;
  border-radius: 8px;
}

.mission-header {
  font-size: 1.55rem;
  font-family: var(--font-2);
  position: relative;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 50px;
}

.mission-header::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 138px;
  background-color: var(--primary-color);
  bottom: -2px;
}


.mission-parag {
  font-size: 1rem;
}

.mission-img {
  width: 100%;
  object-fit: cover;
  border-radius: 0 8px 8px 0;

}

.team-section-header {
  font-size: 1.55rem;
  font-family: var(--font-2);
  position: relative;
  font-weight: 500;
  margin-bottom: 40px;
}

.team-section-header::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 112px;
  background-color: var(--primary-color);
  bottom: -2px;
}

.team-section {
  text-align: center;
  padding: 50px 0;
  margin-bottom: 150px;
}

.team-member img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}

.team-member {
  margin-bottom: 30px;
}

.team-member h5 {
  margin-top: 15px;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--font-1);
  color: #1a1a1a;
}

.team-member p {
  font-family: var(--font-1);
  margin-top: 5px;
  font-size: 0.9rem;
  color: var(--primary-color);
}

.card-btn:hover {
  background-color: var(--secondary-color-light);
}

/* footer */

footer {
  background: var(--primary-color);
}

footer a,
footer li {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 0.8rem;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .fs-6 {
  color: var(--secondary-color);
}

footer .copyright-line-break {
  height: 1px;
  width: 100%;
  background: var(--secondary-color);
  margin: 30px 0 10px 0;
}

footer #copyright {
  font-family: var(--font-2);
  color: var(--secondary-color);
  font-weight: 400;
  letter-spacing: 0.5px;
}

.icon-custom-color {
  fill: var(--secondary-color);
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .navbar ul li {
    padding: 15px 0px;
  }

  #cart,
  #user {
    display: none;
  }

  #cartText,
  #userText {
    display: block;
  }

  /* hero */
  .hero h1 {
    font-family: var(--font-2);
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .best-sellers {
    height: 800px;
    width: 100%;
    margin-bottom: 200px;
  }

  .best-sellers-container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #cart,
  #user {
    display: none;
  }

  #cartText,
  #userText {
    display: block;
  }

  /* hero */
  .hero h1 {
    font-family: var(--font-2);
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  #copyright {
    font-size: 0.8rem;
  }

  .navbar ul li {
    padding: 2px 0px;
  }

  .hero h1 {
    font-family: var(--font-2);
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 0.6rem;
    margin-bottom: 20px;
  }

  .hero .btn-lg {
    padding: 5px 20px;
    font-size: 0.7rem;
  }


  .mission-header {
    font-size: 1.2rem;
  }

  .mission-header::before {
    width: 108px;
  }

  .team-section-header {
    font-size: 1.2rem;
  }

  .team-section-header::before {
    width: 88px;
  }

  
  .mission-parag {
    font-size: 0.8rem;
  }

  .team-member h5 {
    font-size: 1rem;
  }
  

  .team-member p {
    font-family: var(--font-1);
    margin-top: 5px;
    font-size: 0.8rem;
    color: var(--primary-color);
  }

  footer .d-flex {
    flex-direction: column;
    align-items: center;
  }
}
